<div>
   <%= form_tag("/tweets/#{@tweet.id}", method: :patch ) do %>
     <p>
       タイトル
     </p>
     <input placeholder="" type="text" name="title" value="<%= @tweet.title %>" autofocus="true">
     <p>
       記事内容
     </p>
     <textarea cols="30" name="content" placeholder="text" rows="10"><%= @tweet.content %></textarea>
     <input type="submit" value="Update article">
   <% end %>
 </div>
