  <%= render 'tweets/header' %>

<body>

  <div id="main">
    <%= image_tag 'main-img.jpg' %>
  </div>

<div id="article_wrap">

    <div id="article_list">
      <% @tweets.each do |tweet| %>
        <h2><%= link_to tweet.title, "/tweets/#{tweet.id}", method: :get %></h2>
        <p><%= tweet.created_at.strftime('%Y/%m/%d') %></p>
          <% if user_signed_in? && current_user.id == tweet.user_id %>
            <ul>
              <li>
                <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %>
                <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
              </li>
            </ul>
          <% end %>
        <p>-------------------------------------------</p>
     <% end %>
   </div>

   <div id="sidebar">
        <h2>★PV数ランキング</h2>
        <ul>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（10PV）</span></a></li>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（8PV）</span></a></li>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（2PV）</span></a></li>
        </ul>
    </div>
    <div class="clear"></div>

</div>

  <%= render 'tweets/footer' %>

</body>
