<header>
    <div>
      <h1><a href="/">RailsCampBlog</a></h1>
      <% if user_signed_in? %>
        <div>
          <a class="post" href="/">トップ</a>
          <a class="post" href="/tweets/new">新規投稿</a>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </div>
      <% else %>
        <div>
          <%= link_to "トップ", root_url %>
          <%= link_to "ログイン", new_user_session_path %>
          <%= link_to "新規登録", new_user_registration_path %>
        </div>
      <% end %>
    </div>
  </header>


<div>
  <%= form_tag('/tweets', method: :post) do %>
    <p>
      タイトル
    </p>
    <input type="text" name="title">

    <p>
      記事内容
    </p>
    <textarea cols="30" name="content" placeholder="" rows="10"></textarea>
    <input type="submit" value="create article">
  <% end %>
</div>
