  <%= render 'tweets/header' %>


  <div id="title">
   <div>
      <p><%= @tweet.created_at.strftime('%Y/%m/%d') %>書いた人:<%= @tweet.user.email %></p>
      <h1><%= @tweet.title %></h1>
    </div>
  </div>

  <div id="article_wrap">

    <div id="content">

      <div>
         <p>
           <%= @tweet.content %>
         </p>
      </div>

    </div>

    <div id="sidebar">

        <h2>★PV数ランキング</h2>
        <ul>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（10PV）</span></a></li>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（8PV）</span></a></li>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（2PV）</span></a></li>
        </ul>
    </div>
     <div class="clear"></div>

  </div>

<%= render 'tweets/footer' %>
